*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:'Courier New', Courier, monospace;
    background-color: black;
}
.name-tag{
    color: white;
}
.nav-bar{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
   position: relative;
   background-color: black;
   padding:12px 20px ;
}
.menu{
    display: flex;
}
.menu li{
    padding-left: 30px;
}
.menu li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: 0.15s ease-in-out;
    text-transform: uppercase;
}


.menu li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: aqua;
    transition: 0.15s ease-in-out;
}
.menu li a:hover::after{
    width: 100%;
}
.open-menu ,.close-menu {
    position: absolute;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu{
    top: 30%;
    right: 20px;
    transform: translate(-50%);
    color: white;
}
.close-menu{
    top: 20px;
    right: 20px;
    color: white;
}
#check{
    display: none;
}
@media(max-width:750px){
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: black;
        transition: all 0.2s ease-in-out;
    }
    .menu li{margin-top: 40px;}
    .menu li a{
        padding: 10px;
    }
    .open-menu,.close-menu{
        display: block;
    }
    #check:checked~.menu{
        right: 0;
    }
}


.home-con{
    display: flex;
    justify-content: space-between;
    margin: 40px;
    
    
}
@media(max-width:1000px){
    .home-con{
        display: grid;
    }
    .home-content{
        padding-top: 100px;
    }
}
.pic-curcle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    border: 8px solid aqua;
    border-radius: 50%; /* Set border-radius to 50% for a circular shape */
    /* background-color:  rgb(255, 119, 119); */

    
}
.mainImg{
    width: 500px;
    height: 600px;
}

.home-content{
    padding-top: 60px;
}
.home-content h3{
    font-size: 50px;
    color: white;
}
.home-content h1{
    font-size: 90px;
    color: white;
}
.home-content p{
    font-size: 30px;
    color: white;
}
.home-content h1 span{
    color: aqua;
}

/* ======================about======================================= */
.line{
    width: 100%;
    height: 2px;
    background-color: aqua;
}
.aboutContainer{
    padding: 30px;
    margin-bottom: 0px;
}

.aboutContainer p{
    font-size: 28px;
    color: white;
}
.aboutContainer h4{
    font-size: 32px;
}


#about{
    padding: 20px 20px;
    color: white;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 30%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 20px;
}
.about-col-2{
   flex-basis: 60%;
}
.about-col-2 h1{
    font-size: 65px;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    justify-content: space-between;
}


/* .tab-links h4{
    transition: color 0.15s , text-decoration 0.15s 
}
.tab-links h4:hover{
    color: aqua;
    
    text-decoration: underline 2px;
    text-underline-offset: 5px;
    text-decoration-skip: none;
} */
.tab-links h4{
    color: white;
    text-decoration: none;
    /* font-size: 18px; */
    position: relative;
}
.tab-links h4::after{
    content: '';
    width: 0;
    height: 3px;
    background: aqua;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.s;
}
.tab-links h4:hover::after{
    width: 80%;
}
.tab-links ul li span{
    color: aqua;
}
.tab-titles{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.skill{
   
    justify-content: center;
    background-color: black;
    border-radius: 11px;
     padding: 10px;
     margin-bottom: 0px;
 
     
 }
 .content-card{
    
     
 }
 .skills-item{
    
     margin: 0px 0px 0px 25px;
 }
 
 div.skill-progress-bg{
     background: white;
     width: 100%;
     height: 15px;
     border-radius: 10px;
     
 }
 
 div.skill-progress-fill{
     background: aqua;
     height: 100%;
     border-radius: inherit;
 }
 div.title-wrapper{
     color: aliceblue;
     font-size: 24px;
     
 }
 
 ul.skills-list.content-card{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 20px;
     justify-content: center;
     padding: 0px;
     margin: 0px;
     padding: 50px;
     
 }
 
 li.skills-item{
     list-style: none;
     
 }
 .skills-list{
    padding: 0px;
 }
 .skill ul{
   
 }


/* ======================Service======================================= */
#services{
    padding:0px

}
.serviceContainer{
    padding: 20px;
    margin: 0px;
}
.serviceContainer h1{
    font-size: 65px;
    color: white;
}


.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 10px;
    padding: 10px;
}

.services-list div{
    background: #262626;
    background-color: white;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list h2{
    
}
.services-list div h2{
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div:hover{
    background: aqua;
    transform: translateY(-10px);
}





#projects{
    color: white;
}
 .project img{
    height: 300px;
    width: 450px;
 }
 .projectContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    padding: 30px;
    /* color: white; */
 }
 .projectContainer div{
    border: 2px solid aqua;
    padding: 10px;
    
    text-align: center;
 }
 .projectTopic{
    padding:40px;
    padding-bottom: 20px;
 }
 .projectTopic h1{
    font-size: 65px;
    color: white;
 }
 /* @media(min-width:580px){
    .project img{
        height: 200px;
        width: 350px;
     }
} */
/* @media screen and (min-width: 471px) and (max-width: 580){
    .project img{
        height: 200px;
        width: 350px;
     }
} */
/* @media(max-width:470px){
    . img{
        height: 100px;
        width: 250px;
     }
} */

#projects{
    padding: 50px 0;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 10px;
    padding: 20px;
}

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    padding: 20px;
    border: 2px solid aqua;
}

.project img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}




.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), aqua);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: aqua;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.project:hover img{
    transform: scale(1.1);
}

.project:hover .layer{
    height: 100%;
}



.contact-form{
    /* margin-top: -42%;
    position: relative; */
    margin-left: 12%;
    margin-right: 12%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2%;
    border-radius: 10px;
    color: whitesmoke;
  
}

#submit-btn{
    margin-top: 5%;
    width: 20%;

}

#submit-btn:hover{
    transition: 0.5s;
    width: 25%;

}
.contactUs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 30px;
    border: 2px solid black;
}

.contact{
    color: white;
}